/***generale***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

ul{
    list-style: none;
}

.container-medium{
    max-width: 1260px;
    margin: 0 auto;
}

.container{
    max-width: 1042px;
    margin: 0 auto;
}

.row{
    display: flex;
}

/**link**/
a{
    text-decoration: none;
    color: currentColor;
}

a.blu{
    background-color: #0060FF;
    color: white;
}

/***bottoni ***/
button{
    border: none;
    background-color: transparent;
    padding: 8px 17px;
}

button.blu.short{
    padding: 8px 61px;
}

/***header***/
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
}

ul.items{
    display: flex;
    align-items: center;
    line-height: 34px;
}

ul.items button.logo{
    padding-left: 0px;
}

button.blu{
    background-color: #0060FF;
    color: white;
}


/***section saluti***/
section.saluti{
    background-color: #B4D0E7;
}
.row-1>.col-title{
    flex-basis: 100%;
    gap: 44px;
}

.col-saluti{
    flex-basis: calc(100% /3);
}

.col-collage{
    flex-basis: calc(100% /3 *2);
}

h1.saluti-title{
    font-weight: 800;
    font-size: 58px;
}

.saluti .row-1{
    padding-bottom: 44px;
}

.col-saluti>button.blu{
    margin: 33px 0;
}

.icon-cancel{
    position: relative;
    bottom: -126px;
    font-size: 45px;
}

/***section abbonamenti***/

h3.title-sub{
    font-size: 31px;
    padding: 25px 0;
}
.radio-button{
    padding: 25px 0;
}

.radio-button>span{
    padding-right: 50px;
}

.col.sub{
   flex-basis: calc(100% / 3);
}

.row.cardsub{
    gap: 50px;
}

.sub{
    border: 1px solid lightgray;
}   
/***card abbonamenti***/
p.user{
    text-align: center;
}
.cardsub .type-cardsub{
    padding: 25px 30px;
}
.cardsub ul>li{
    line-height: 40px;
}
.cardsub ul{
    padding: 25px 0;
}

li.type-sub>h3{
    font-size: 18px;
}

li.time{
    font-size: 15px;
}

.buy-drop a.blu{
    line-height: 40px;
    width: max-content;
    padding: 15px 30px;
}

.buy-drop a.blu.small{
    padding: 15px 70px;
}

.buy-drop a.buy-link{
    text-decoration: underline;
    color: #7450F1;
}

.buy-drop li.option-buy{
    padding-top:32px;
}

p.user{
    border-bottom: 1px solid lightgray;
    margin-bottom: 1px;  
    line-height: 38px;  
}

.type-cardsub{
    border-top: 1px solid lightgray;
}

/**icone cards**/
p.user::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
    display: inline-block;
    padding: 5px;
    font-size: 15px;    
}

.n-users::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
    display: inline-block;
    padding: 5px;
    font-size: 15px;    
}

.space::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f07b";
    display: inline-block;
    padding: 5px;
    font-size: 15px;    
}

.share::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1e0";
    display: inline-block;
    padding: 5px;
    font-size: 15px;    
}

.info-plan::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    color: #0060FF;    
}

/**icone solo per seconda card**/

/*.user.team ,
.n-users-3::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c0";
    display: inline-block;
    padding: 5px;
    font-size: 15px;    
}*/
.user.team::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c0";
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

.n-users-3::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c0";
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

/**icone solo per terza card**/
.user.azienda::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1ad";
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

/**info-aziende**/

.col.contact-office{
    flex-basis: calc(100% / 4 *3);
    padding: 30px;
}

.col.sales{
    flex-basis: calc(100% / 4);
    padding: 30px;
}
.row.info-aziende{
    gap: 10px;
}

.hr-card.sub{
    margin: 50px 0;
}

.col.contact-office>h4{
    padding: 18px 0 56px;
}