/***generale***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

button{
    border: none;
    background-color: transparent;
    padding: 8px 17px;
}

ul{
    display: flex;
    list-style: none;
}

.container-medium{
    max-width: 1260px;
    margin: 0 auto;
}

.row{
    display: flex;
}

/***header***/
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
}

ul.items{
    align-items: center;
    line-height: 34px;
}

ul.items button.logo{
    padding-left: 0px;
}

button.blu{
    background-color: #0060FF;
    color: white;
}

/***section saluti***/
section.saluti{
    background-color: #B4D0E7;
}
.row-1>.col-title{
    flex-basis: 100%;
    gap: 44px;
}

.col-saluti{
    flex-basis: calc(100% /3);
}

.col-collage{
    flex-basis: calc(100% /3 *2);
}

h1.saluti-title{
    font-weight: 800;
    font-size: 58px;
}

.saluti .row-1{
    padding-bottom: 44px;
}

.col-saluti>button.blu{
    margin: 33px 0;
}

.icon-cancel{
    position: relative;
    bottom: -126px;
    font-size: 45px;
}